<div class="container mt-5">
  <%= link_to restaurants_path, class: 'btn-light' do %>
    <p><i class="fas fa-undo m-1"></i> BACK TO ALL</p>
  <% end %>

  <div class="card-restaurant rounded">
    <%= image_tag "https://source.unsplash.com/1200x300/?dish #{@restaurant.category}" %>
    <div class="card-restaurant-infos">
      <div>
        <h2><%= @restaurant.name %></h2>
        <p>Address:<%= @restaurant.address %></p>
        <p>Category: <%= @restaurant.category %></p>
        <p class="card-restaurant-pricing">Phone: <%= @restaurant.phone_number %></p>
      </div>
      <div>
        <%= link_to new_restaurant_review_path(@restaurant), class: 'btn btn-info' do %>
          <p><strong><i class="fas fa-plus mr-2"></i> Add new review</strong></p>
        <% end %>
      </div>
    </div>
    <div class="reviews m-3">
      <% if @restaurant.reviews.any? %>
        <h2>Reviews ( <%= @restaurant.reviews.count %> )</h2>
        <% @restaurant.reviews.each do |review| %>
          <hr>
          <p> <%= '⭐️' * review.rating %> </p>
          <p> <%= review.content %> </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
